<a href="https://colab.research.google.com/github/raedmehyar/18110026-BusinessIntelligence/blob/master/RaedMehyar4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy  as np
import pandas as pd

def header (msg):
  print ('-' * 50)
  print ('[' + msg + ']\n')

header('Entering data manually into df')
df1 = pd.DataFrame(
    [['Raed', 19],['Carl', 20],['Chris', 12],['Joe', 22],['Adam', 18]],
    index= [0,1,2,3,4],
    columns= ['Name', 'Age']
)
print (df1)

--------------------------------------------------
[Entering data manually into df]

    Name  Age
0   Raed   19
1   Carl   20
2  Chris   12
3    Joe   22
4   Adam   18

In [0]:
header('Raeding data from a text file')
TheTest ='Test.txt'
df = pd.read_csv(TheTest)
print (df)

--------------------------------------------------
[Raeding data from a text file]

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [0]:
header('Print Top 5// Empty argument is a defualt of 5')
print (df.head())

--------------------------------------------------
[Print Top 5// Empty argument is a defualt of 5]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58       42           74          22               2.95
1   Feb        61       45           78          26               3.02
2   Mar        65       48           84          25               2.34
3   Apr        67       50           92          28               1.02
4   May        71       53           98          35               0.48

In [0]:
header('Print Bottom 7// Insert into argument as any number')
print (df.tail(7))

--------------------------------------------------
[Print Bottom 7// Insert into argument as any number]

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [0]:
header('Print from 3 to 6')
print (df[2:5])

--------------------------------------------------
[Print from 3 to 6]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
2   Mar        65       48           84          25               2.34
3   Apr        67       50           92          28               1.02
4   May        71       53           98          35               0.48

In [0]:
header('Print Summer Months')
print (df[4:8])

--------------------------------------------------
[Print Summer Months]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
4   May        71       53           98          35               0.48
5   Jun        75       56          107          41               0.11
6   Jul        77       58          105          44               0.00
7   Aug        77       59          102          43               0.03

In [0]:
header('Print only index')
print (df.index)

--------------------------------------------------
[Print only index]

RangeIndex(start=0, stop=12, step=1)

In [0]:
header('Print only index//data entry')
print (df1.index)

--------------------------------------------------
[Print only index//data entry]

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [0]:
header('Print only columns')
print (df.columns)

--------------------------------------------------
[Print only columns]

Index(['month', 'avg_high', 'avg_low', 'record_high', 'record_low',
       'avg_precipitation'],
      dtype='object')

In [0]:
header('Print only columns//data entry')
print (df1.columns)

--------------------------------------------------
[Print only columns//data entry]

Index(['Name', 'Age'], dtype='object')

In [0]:
header('Print only datatypes')
print (df.dtypes)

--------------------------------------------------
[Print only datatypes]

month                 object
avg_high               int64
avg_low                int64
record_high            int64
record_low             int64
avg_precipitation    float64
dtype: object

In [0]:
header('Print only datatypes// data entry')
print (df1.dtypes)

--------------------------------------------------
[Print only datatypes// data entry]

Name    object
Age      int64
dtype: object

In [0]:
header('Print only values')
print (df.values)

--------------------------------------------------
[Print only values]

[['Jan' 58 42 74 22 2.95]
 ['Feb' 61 45 78 26 3.02]
 ['Mar' 65 48 84 25 2.34]
 ['Apr' 67 50 92 28 1.02]
 ['May' 71 53 98 35 0.48]
 ['Jun' 75 56 107 41 0.11]
 ['Jul' 77 58 105 44 0.0]
 ['Aug' 77 59 102 43 0.03]
 ['Sep' 77 57 103 40 0.17]
 ['Oct' 73 54 96 34 0.81]
 ['Nov' 64 48 84 30 1.7]
 ['Dec' 58 42 73 21 2.56]]

In [0]:
header('Print only values// data entry')
print (df1.values)

--------------------------------------------------
[Print only values// data entry]

[['Raed' 19]
 ['Carl' 20]
 ['Chris' 12]
 ['Joe' 22]
 ['Adam' 18]]

In [0]:
header('Data Describtion//Wrong way')
print (df.describe)

--------------------------------------------------
[Data Describtion//Wrong way]

<bound method NDFrame.describe of    month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56>

In [0]:
header('Data Describtion//Right way')
print (df.describe())

--------------------------------------------------
[Data Describtion//Right way]

        avg_high    avg_low  record_high  record_low  avg_precipitation
count  12.000000  12.000000    12.000000   12.000000          12.000000
mean   68.583333  51.000000    91.333333   32.416667           1.265833
std     7.366488   6.060303    12.323911    8.240238           1.186396
min    58.000000  42.000000    73.000000   21.000000           0.000000
25%    63.250000  47.250000    82.500000   25.750000           0.155000
50%    69.000000  51.500000    94.000000   32.000000           0.915000
75%    75.500000  56.250000   102.250000   40.250000           2.395000
max    77.000000  59.000000   107.000000   44.000000           3.020000

In [0]:
header('Sort the records by column')
print (df.sort_values('record_high', ascending=True))

--------------------------------------------------
[Sort the records by column]

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
11   Dec        58       42           73          21               2.56
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
10   Nov        64       48           84          30               1.70
3    Apr        67       50           92          28               1.02
9    Oct        73       54           96          34               0.81
4    May        71       53           98          35               0.48
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
6    Jul        77       58          105          44               0.00
5    Jun        75       56          107          41               0.11

In [0]:
header('Sort the records by column')
print (df.sort_values('record_high', ascending=False))

--------------------------------------------------
[Sort the records by column]

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
8    Sep        77       57          103          40               0.17
7    Aug        77       59          102          43               0.03
4    May        71       53           98          35               0.48
9    Oct        73       54           96          34               0.81
3    Apr        67       50           92          28               1.02
2    Mar        65       48           84          25               2.34
10   Nov        64       48           84          30               1.70
1    Feb        61       45           78          26               3.02
0    Jan        58       42           74          22               2.95
11   Dec        58       42           73          21               2.56

In [0]:
header('Printing specific Column//multipul ways')
print (df.month)
print (df['avg_precipitation'])
print (df[['avg_precipitation', 'month']])

--------------------------------------------------
[Printing specific Column//multipul ways]

0     Jan
1     Feb
2     Mar
3     Apr
4     May
5     Jun
6     Jul
7     Aug
8     Sep
9     Oct
10    Nov
11    Dec
Name: month, dtype: object
0     2.95
1     3.02
2     2.34
3     1.02
4     0.48
5     0.11
6     0.00
7     0.03
8     0.17
9     0.81
10    1.70
11    2.56
Name: avg_precipitation, dtype: float64
    avg_precipitation month
0                2.95   Jan
1                3.02   Feb
2                2.34   Mar
3                1.02   Apr
4                0.48   May
5                0.11   Jun
6                0.00   Jul
7                0.03   Aug
8                0.17   Sep
9                0.81   Oct
10               1.70   Nov
11               2.56   Dec

In [0]:
header('Printing specific Column for all Records')
print(df.loc[:,['month','avg_low','avg_high']])

--------------------------------------------------
[Printing specific Column for all Records]

   month  avg_low  avg_high
0    Jan       42        58
1    Feb       45        61
2    Mar       48        65
3    Apr       50        67
4    May       53        71
5    Jun       56        75
6    Jul       58        77
7    Aug       59        77
8    Sep       57        77
9    Oct       54        73
10   Nov       48        64
11   Dec       42        58

In [0]:
header('Printing specific Column for specific Records')
print(df.loc[0:4,['month','avg_low','avg_high']])

--------------------------------------------------
[Printing specific Column for specific Records]

  month  avg_low  avg_high
0   Jan       42        58
1   Feb       45        61
2   Mar       48        65
3   Apr       50        67
4   May       53        71

In [0]:
header('Printing specific Column for specific Record!')
print(df.loc[5,['month','avg_low','avg_high']])

--------------------------------------------------
[Printing specific Column for specific Record!]

month       Jun
avg_low      56
avg_high     75
Name: 5, dtype: object

In [0]:
header('Printing a sequence of Columns for specific Records')
print(df.iloc[6:11,[0,1,2]])

--------------------------------------------------
[Printing a sequence of Columns for specific Records]

   month  avg_high  avg_low
6    Jul        77       58
7    Aug        77       59
8    Sep        77       57
9    Oct        73       54
10   Nov        64       48

In [0]:
header('Filtering')
print(df[df.avg_high>60])

--------------------------------------------------
[Filtering]

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70

In [0]:
print(df[df['month'].isin(['Jun','Jul','Sep'])])

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
5   Jun        75       56          107          41               0.11
6   Jul        77       58          105          44               0.00
8   Sep        77       57          103          40               0.17

In [0]:
header('Value changing')
df.loc[9,['avg_precipitation']]=10.2

--------------------------------------------------
[Value changing]

In [0]:
header('Value changed')
print(df.iloc[6:10])

--------------------------------------------------
[Value changed]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
6   Jul        77       58          105          44               0.00
7   Aug        77       59          102          43               0.03
8   Sep        77       57          103          40               0.17
9   Oct        73       54           96          34              10.20

In [0]:
header('Exeption Handling')
#when importing data and being afraid that a field misses info or has broken info
df.loc[9,['avg_precipitation']]= np.nan

--------------------------------------------------
[Exeption Handling]

In [0]:
header('Value changed')
print(df.iloc[6:10])

--------------------------------------------------
[Value changed]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
6   Jul        77       58          105          44               0.00
7   Aug        77       59          102          43               0.03
8   Sep        77       57          103          40               0.17
9   Oct        73       54           96          34                NaN

In [0]:
header('Value changing')
df.loc[6:9,['avg_high']]= 77.2

--------------------------------------------------
[Value changing]

In [0]:
header('Value changed')
print(df.loc[6:9,['avg_high']])

--------------------------------------------------
[Value changed]

   avg_high
6      77.2
7      77.2
8      77.2
9      77.2

In [0]:
df['#']= (df.avg_high-df.avg_low)
print(df)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation     #
0    Jan      58.0       42           74          22               2.95  16.0
1    Feb      61.0       45           78          26               3.02  16.0
2    Mar      65.0       48           84          25               2.34  17.0
3    Apr      67.0       50           92          28               1.02  17.0
4    May      71.0       53           98          35               0.48  18.0
5    Jun      75.0       56          107          41               0.11  19.0
6    Jul      77.2       58          105          44               0.00  19.2
7    Aug      77.2       59          102          43               0.03  18.2
8    Sep      77.2       57          103          40               0.17  20.2
9    Oct      77.2       54           96          34                NaN  23.2
10   Nov      64.0       48           84          30               1.70  16.0
11   Dec      58.0       42           73          21               2.56  16.0

In [0]:
df.rename(columns={'#':'Difference'},inplace=True)
print(df.head())

  month  avg_high  avg_low  ...  record_low  avg_precipitation  Difference
0   Jan      58.0       42  ...          22               2.95        16.0
1   Feb      61.0       45  ...          26               3.02        16.0
2   Mar      65.0       48  ...          25               2.34        17.0
3   Apr      67.0       50  ...          28               1.02        17.0
4   May      71.0       53  ...          35               0.48        18.0

[5 rows x 7 columns]

In [0]:
df.columns=['Month','AHigh','ALow','RHigh','RLow','Precipitation','Diff']
print(df)

   Month  AHigh  ALow  RHigh  RLow  Precipitation  Diff
0    Jan   58.0    42     74    22           2.95  16.0
1    Feb   61.0    45     78    26           3.02  16.0
2    Mar   65.0    48     84    25           2.34  17.0
3    Apr   67.0    50     92    28           1.02  17.0
4    May   71.0    53     98    35           0.48  18.0
5    Jun   75.0    56    107    41           0.11  19.0
6    Jul   77.2    58    105    44           0.00  19.2
7    Aug   77.2    59    102    43           0.03  18.2
8    Sep   77.2    57    103    40           0.17  20.2
9    Oct   77.2    54     96    34            NaN  23.2
10   Nov   64.0    48     84    30           1.70  16.0
11   Dec   58.0    42     73    21           2.56  16.0

In [0]:
df.to_csv('Success.csv')