<a href="https://colab.research.google.com/github/raedmehyar/18110026-BusinessIntelligence/blob/master/RaedMehyar9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.linear_model import LogisticRegressionCV
import re

In [5]:
df = pd.read_csv('train.tsv', sep='\t')
df.head(10)

   PhraseId  ...  Sentiment
0         1  ...          1
1         2  ...          2
2         3  ...          2
3         4  ...          2
4         5  ...          2
5         6  ...          2
6         7  ...          2
7         8  ...          2
8         9  ...          2
9        10  ...          2

[10 rows x 4 columns]

In [0]:
def to_binary(x):
 if x >= 2:
   return 1
 return 0

In [11]:
df ['target'] = df['Sentiment'].apply(to_binary)
df.head(10)

   PhraseId  SentenceId  ... Sentiment  target
0         1           1  ...         1       0
1         2           1  ...         2       1
2         3           1  ...         2       1
3         4           1  ...         2       1
4         5           1  ...         2       1
5         6           1  ...         2       1
6         7           1  ...         2       1
7         8           1  ...         2       1
8         9           1  ...         2       1
9        10           1  ...         2       1

[10 rows x 5 columns]

In [0]:
def clean_text(txt):
   
    """
    removing all hashtags , punctuations, stop_words  and links, also stemming words
    """
    txt = txt.lower()
    txt = re.sub(r"(@\S+)", "", txt)  # remove hashtags
    txt = txt.translate(str.maketrans('', '', string.punctuation)) # remove punctuations
    txt = re.sub(r"(http\S+|http)", "", txt) # remove links
    txt = ' '.join([PorterStemmer().stem(word=word) for word in txt.split(" ") if word not in stop_words ]) # stem & remove stop words
    txt = ''.join([i for i in txt if not i.isdigit()]).strip() # remove digits ()
    return txt

In [0]:
def train_test_data(sentence, sentiment):  
    y = df[sentiment]   # define target and feature column
    X = df[sentence]
    
    text_train, text_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)    # do the split
    vect = CountVectorizer(min_df=5, ngram_range=(1, 4)) # create Count vectorizer.
    X_train = vect.fit(text_train).transform(text_train) # transform text_train  into a vector
    X_test = vect.transform(text_test)
    feature_names = vect.get_feature_names() # to return all words used in vectorizer
 
    return X_train, X_test, y_train, y_test, feature_names

In [19]:
df['cleaned_text'] = df['Phrase'].apply(clean_text)
X_train, X_test, y_train, y_test, feature_names = train_test_data('cleaned_text','target')

NameError: ignored