In [0]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

df =pd.read_csv('pvt.csv', sep='\t')
print(df.head(5))
print('--------')
print(df['PovPct'].median())

def is_poor(x):
  if x >= 12.2:
    return 1
  return 0
df['is_pov'] = df['PovPct'].apply(is_poor)

#or
#df['is_pov'] = df['PovPct'].apply(lamda x: 1 if x>=12.2 else 0)

x = df[['ViolCrime']]
y = df['is_pov']

lr = LogisticRegression()
lr.fit(x,y)
predictions = lr.predict(x)

print('accuracy is:', accuracy_score(predictions, y))

print(df.head(5))

     Location  PovPct  Brth15to17  Brth18to19  ViolCrime  TeenBrth
0     Alabama    20.1        31.5        88.7       11.2      54.5
1      Alaska     7.1        18.9        73.7        9.1      39.5
2     Arizona    16.1        35.0       102.5       10.4      61.2
3    Arkansas    14.9        31.6       101.7       10.4      59.9
4  California    16.7        22.6        69.1       11.2      41.1
--------
12.2
accuracy is: 0.7058823529411765
     Location  PovPct  Brth15to17  Brth18to19  ViolCrime  TeenBrth  is_pov
0     Alabama    20.1        31.5        88.7       11.2      54.5       1
1      Alaska     7.1        18.9        73.7        9.1      39.5       0
2     Arizona    16.1        35.0       102.5       10.4      61.2       1
3    Arkansas    14.9        31.6       101.7       10.4      59.9       1
4  California    16.7        22.6        69.1       11.2      41.1       1

In [0]:
df =pd.read_csv('diabetes.csv')
print(df)

     children  glocus_concentration  ...  age  has_diabetes
0           6                   148  ...   50             1
1           1                    85  ...   31             0
2           8                   183  ...   32             1
3           1                    89  ...   21             0
4           0                   137  ...   33             1
..        ...                   ...  ...  ...           ...
763        10                   101  ...   63             0
764         2                   122  ...   27             0
765         5                   121  ...   30             0
766         1                   126  ...   47             1
767         1                    93  ...   23             0

[768 rows x 9 columns]